<a href="https://colab.research.google.com/github/anavianascientist/Estatistica_Python/blob/master/amostra_estratificada.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:

# Amostragem estratificada

In [1]:
# Importação das bibliotecas: pandas para carregar arquivos .csv e train_test_split para divisão da base de dados (separar amostras)
import pandas as pd
from sklearn.model_selection import train_test_split
import io

In [2]:
# Carregamento da base de dados 
from google.colab import files
uploaded = files.upload()

Saving iris.csv to iris.csv

In [3]:
iris = pd.read_csv(io.BytesIO(uploaded['iris.csv']))
iris

     sepal length  sepal width  petal length  petal width           class
0             5.1          3.5           1.4          0.2     Iris-setosa
1             4.9          3.0           1.4          0.2     Iris-setosa
2             4.7          3.2           1.3          0.2     Iris-setosa
3             4.6          3.1           1.5          0.2     Iris-setosa
4             5.0          3.6           1.4          0.2     Iris-setosa
..            ...          ...           ...          ...             ...
145           6.7          3.0           5.2          2.3  Iris-virginica
146           6.3          2.5           5.0          1.9  Iris-virginica
147           6.5          3.0           5.2          2.0  Iris-virginica
148           6.2          3.4           5.4          2.3  Iris-virginica
149           5.9          3.0           5.1          1.8  Iris-virginica

[150 rows x 5 columns]

In [4]:
#contagem de quantos registros existem por classe
iris['class'].value_counts()

Iris-virginica     50
Iris-setosa        50
Iris-versicolor    50
Name: class, dtype: int64

In [5]:
# iris.iloc[:, 0:4]: buscamos somente os atributos previsores, ou seja, os dados sobre pétala e sétala da planta
# iris.iloc[:, 4]: buscamos somente a classe, que é a espécie da planta (setosa, virginica ou versicolor)
# test_size: selecionamos 50% da base de dados, que serão copiados para as variáveis X e Y. Essa função retorna 4 valores,
# porém, vamos usar somente os 50% da base de dados e por isso colocamos "_" para os outros valores
# stratify: para retornar a amostra baseada na classe
X, _, y, _ = train_test_split(iris.iloc[:, 0:4], iris.iloc[:, 4],
                              test_size = 0.5, stratify = iris.iloc[:,4])
y.value_counts()

Iris-virginica     25
Iris-setosa        25
Iris-versicolor    25
Name: class, dtype: int64

In [6]:
# Carregamento da base de dados e contagem de quantos registros por classe
from google.colab import files 
uploaded = files.upload()

Saving infert.csv to infert.csv

In [7]:
infert = pd.read_csv(io.BytesIO(uploaded['infert.csv']))
infert

     Unnamed: 0 education  age  ...  spontaneous  stratum  pooled.stratum
0             1    0-5yrs   26  ...            2        1               3
1             2    0-5yrs   42  ...            0        2               1
2             3    0-5yrs   39  ...            0        3               4
3             4    0-5yrs   34  ...            0        4               2
4             5   6-11yrs   35  ...            1        5              32
..          ...       ...  ...  ...          ...      ...             ...
243         244   12+ yrs   31  ...            1       79              45
244         245   12+ yrs   34  ...            0       80              47
245         246   12+ yrs   35  ...            0       81              54
246         247   12+ yrs   29  ...            1       82              43
247         248   12+ yrs   23  ...            1       83              40

[248 rows x 9 columns]

In [8]:
infert['education'].value_counts()

6-11yrs    120
12+ yrs    116
0-5yrs      12
Name: education, dtype: int64

In [9]:
# Criando uma amostra com somente 40% dos registros (por isso é definido 0.6, pois é gerado o inverso)
X1, _, y1, _ = train_test_split(infert.iloc[:, 2:9], infert.iloc[:, 1],
                                test_size = 0.6, stratify = infert.iloc[:, 1])
y1.value_counts()

6-11yrs    48
12+ yrs    46
0-5yrs      5
Name: education, dtype: int64